.button-container {
    position: relative;
    
    width: 9rem;
    height: 3.5rem;
    
    border-radius: 0.25rem;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #fff;
    padding: 0;
}

.lh-btn, .mask-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100%;
    line-height: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.lh-btn {
    padding: 0;
    color: var(--main-text-color);

    background-color: #ffffff;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    
    cursor: pointer;
    border: 1px solid #fff;
}

.mask-text {
    /* Add no color for transparent color effect */
    position: absolute;
    color: var(--main-text-color);
    overflow: hidden;
}

/* Animation from the very first flight */
.lh-btn.mounted:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}


/* Animation when the mouse leaves the button */
.lh-btn.hovered:not(:hover) {
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

/* Tone down the animation to avoid vestibular motion triggers. */
@media (prefers-reduced-motion) {
    .btn-animation {
        animation: none;
        -webkit-animation: none;
        -webkit-mask: none;
        mask: none;
    }
} 