.header__menu {
  position: relative;
}

/* Position and sizing of burger button */
.header__menu-btn {
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
}

/* Color of burger icon bars */
.menu-btn__burger-icon span {
  display: block;
  background: #abaeb9;
  height: 8px;
  width: 50px;
  margin-bottom: 9px;
  transition-duration: 400ms;
}

/* Color/shape of burger icon bars on hover*/
.header__menu-btn:hover > .menu-btn__burger-icon span,
.header__menu-btn:focus > .menu-btn__burger-icon span {
  background: var(--main-color);
}

/* change visibility */
.visible-menu {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease-in-out;
}

.invisible-menu {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);

  transition: background-color 0.2s ease-in-out, visibility 0s 0.3s;
}

/* Styling of overlay */
.header__menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
}

.header__menu-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5em;
  justify-content: flex-start;
  
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  min-height: 100vh;
  width: 12.5rem;
  
  background: #373a47;
  padding: 4em 2em 0 2em;
  margin: 0;
  list-style: none;
  box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.4);

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

/* Animated menu appearances and disappearances */
.visible-menu .header__menu-content {
  transform: translateX(0);
}

.invisible-menu .header__menu-content {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

/* Menu items */
.header__menu-item {
  color: var(--bg-color);
  text-decoration: none;
}

.header__menu-item:hover {
  color: var(--main-color);
  text-decoration: underline;
}

/* Close button */
.header__menu-btn-close {
  position: absolute;
  z-index: 99;
  right: 16px;
  top: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #00000000;
}

.header__menu-btn-close:hover {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.header__menu-btn-close:before,
.header__menu-btn-close:after {
  position: absolute;
  left: 16px;
  content: " ";
  height: 24px;
  width: 3px;
  background-color: #fff;
}

.header__menu-btn-close:before {
  transform: rotate(45deg);
}

.header__menu-btn-close:after {
  transform: rotate(-45deg);
}