.project__section {
    min-height: calc(100vh - (var(--header-height) + 3.75rem));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.project__title {
    margin-top: 2.5rem;
    font-size: 1.9rem;
    margin: 2rem 0 1rem 0;
}

.project__section h2 {
    text-align: start;
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
}

.project__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.3rem 4% 2rem 4%;
}

.project__content img {
    width: 100%;
    margin-bottom: 2.5rem;
}

.project__text {
    padding-right: 1.25rem;
}
.project__text p, .project__text ul {
    text-wrap: balance;
    margin: 0 0 1.4rem 0;
}

.project__button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.project__button-container .lh-btn {
    background-color: var(--bg-color);
}

.project__button-container .mask-text {
    background-color: var(--main-color);
}

@media screen and (min-width: 992px) {
    .project__content {
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 1.25rem;
    }

    .project__content img {
        width: 50%;
        margin-bottom: 0;
    }
}