.projectcard {
    display: block;
    position: relative;
    height: 15.6rem;
    width: 100%;
    border-radius: 0.6rem;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--main-text-color);
}

.projectcard:focus {
    outline: 0.25rem var(--second-color ) solid;
    border-radius: 0.5rem;
}

.projectcard:hover img, .projectcard:focus img {
    transform: scale(1.09);
}

.projectcard__title {
    position: absolute;
    bottom: 0;
    height: 6.25rem;
    width: 100%;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.664) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
}

.projectcard__title h3 {
    margin: 1rem;
    color: white;
    line-height: 1.3rem;
}

.projectcard img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 16rem;
    transition: transform 500ms ease-in-out;
}

.projectcard span {
    display: block;
    color: white;
    font-style: italic;
    height: 100%;
    width: 100%;
    padding: 0.6rem;
    background-color: #707070;
}