#contact-section {
    background: linear-gradient(90deg, #4fc4cf, #994ff3);
}

.contact-col {
    width: 100%;
    max-width: 35rem;
}
#contact-col1 {
    text-align: center;
    text-wrap: balance;
}

#contact-col2 {
    margin-top: 1.25rem;
}

.contact-col h2 {
    margin: 0;
}

#contact-section a {
    color: #fff;
}

#contact-section a:hover {
    color: #aee9ee;
}

@media screen and (min-width: 576px) {
    #contact-section .section-content {
        flex-direction: row;
        gap: 1.25rem;
    }

    #contact-col1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }

    #contact-col2 {
        margin-top: 0;
    }
}