/********************/
/****** GLOBAL ******/
/********************/

:root {
  /* Colors */
  --main-color: #4fc4cf; /* Light blue */
  --second-color: #994ff3; /* Purple */
  --bg-color: #f6efef; /* Salmon */
  --main-text-color: #1a1b22;

  /* Text configuration */
  --text-font: 'Montserrat', sans-serif;
  --title-font: 'Montserrat', sans-serif;

  --text-size: 1rem;

  --text-weight: 400;
  --title-weight: 600;

  --text-height: 1.5rem;
  --title-height: 2.6rem;

  /* Others */
  --header-height: 6em;
}


/********************/
/******* FONT *******/
/********************/

body {
  margin:0;
  background-color: #fffffe;
}

p, ul, ol, a, span, button, input, textarea {
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
}

p, a, span {
  line-height: var(--text-height);
}

ul, ol {
  line-height: 2em;
}

p, ul, ol, span {
  color: var(--main-text-color);
}

h1, h2, h3 {
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  line-height: var(--title-height);
  margin: 0;
}

a {
  color: var(--main-color);
}

a:hover {
  color: #44a6af;
}

p {
  margin: 0.8em 0;
}

span {
  font-weight: var(--title-weight);
  color: var(--main-color);
}


/********************/
/****** SECTION *****/
/********************/

/* section & section-content are present in each page */
section {
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding-top: var(--header-height);
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 1em 5em 1em;
}

@media screen and (min-width: 992px) {
  .section-content {
    margin: 0 4em 6em 4em;
  }
}