#contact-form__info {
    margin: 0;
    color: #fff;
    font-size: 0.8em;
}
label {
    overflow: hidden;
    position: absolute;
    top: -10000px;
}

input,
textarea {
    width: 96%;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    padding: 8px;
}

textarea {
    height: 150px;
}

form div[role="group"]{
    margin-bottom: 0.9em;
}

.error {
    color: var(--main-text-color);
    font-size: 0.8rem;
    font-weight: 500;
}

/* bg color button */

.contact-form .mask-text {
    background-color: var(--second-color);
    color: #fff;
}

.contact-form .button-container {
    border: none;
}