#contact-form__info {
    margin: 0;
    color: #fff;
    font-size: 0.8em;
}

/* bg color button */

.contact-form .mask-text {
    background-color: var(--second-color);
    color: #fff;
}

.contact-form .button-container {
    border: none;
}