header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: sticky;
    background-color: #fffffe;
    top: 0px;
    height: var(--header-height);
    z-index: 2;
    border-bottom: 1px #C7C7C7 solid;
    box-shadow: 6px 6px 25px rgba(199,199,199, 0.5);
}

#header__title {margin-left: 1rem;}
#header__title p {
    margin: 0.9rem 0 0 0;
}
    
header img {
    height: 100px;
}