header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    position: sticky;
    height: var(--header-height);
    background-color: #fffffe;
    top: 0;
    z-index: 99;
    border-bottom: 1px #C7C7C7 solid;
    box-shadow: 0.37rem 0.37rem 1.6rem rgba(199,199,199, 0.5);
}

#desktop-nav menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

#desktop-nav li a:not(#home-link) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    margin: 0 0.6rem 0 0.6rem;
}

#home-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header img {
    max-height: 6.25rem;
}

#home-link__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.2rem;
}

#home-link__title p {
    margin: 0.6rem 0 0 0;
}