#portfolio__list {
    display:grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 20px;
}

#portfolio p {
    text-align: center;
}

@media screen and (min-width: 576px) {
    #portfolio__list {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 40px;
    }
}

@media screen and (min-width: 992px) {
    #portfolio__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    #portfolio__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}