#portfolio__list {
    display:grid;
    grid-template-columns: 1fr;
    gap: 1.87rem;
    margin-top: 1.25rem;
}

#portfolio p {
    text-align: center;
}

@media screen and (min-width: 576px) {
    #portfolio__list {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.87rem;
        row-gap: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    #portfolio__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    #portfolio__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}